name: Import Configurations
on:
  pull_request:
    types:
      - closed

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      RELEASE_VERSION: v1.0.7
      FULL_FILE_NAME: iamctl-1.0.7-linux-x64.tar.gz
      FILE_NAME: iamctl-1.0.7
      PROD_CLIENT_ID: ${{ secrets.PROD_CLIENT_ID }}
      PROD_CLIENT_SECRET: ${{ secrets.PROD_CLIENT_SECRET }}
      PROD_SERVER_URL: ${{ secrets.PROD_SERVER_URL }}
      PROD_TENANT_DOMAIN: ${{ secrets.PROD_TENANT_DOMAIN }}
      MY_SECRET: ${{ secrets.MY_SECRET }}
    steps:
      - name: Download files from the current repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          
      - name: Download and unzip latest identity-tools-cli release
        run: |
          # Download the release file
          curl -L -o "${FULL_FILE_NAME}" "https://github.com/wso2-extensions/identity-tools-cli/releases/download/${RELEASE_VERSION}/${FULL_FILE_NAME}"
          tar -xzf "${FULL_FILE_NAME}"
          
      - name: Extract release file
        run: tar -xzf "${FULL_FILE_NAME}"
      
      - name: Run import command
        run: |
          branch_name=$(basename "${{ github.ref }}")
          cd "${FILE_NAME}/bin"
          ./iamctl importAll -c "../../configs/$branch_name" -i "../../"
          
